:root {
  --background-dark: #000;
  --background-grey: #a3a3a3;
  --background-lightgrey: #ccc;
  --background-white: #fff;

  --text-white: #fff;
  --text-lightgray: #ccc;
  --text-dark: #000;
  --text-darkgrey: #404040;

  --border-dark: #000;
}
